@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: rgb(4,4,4);
    background: linear-gradient(90deg, rgba(4,4,4,1) 26%, rgba(7,6,24,1) 70%);
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}