@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #171717;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #f5f5f5;
    }
}